*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    body {
    background-color: #f7efe6;
}
}
header {
    background-color:#F5EDE3;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #fff3f8;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a {
    display: flex;
    align-items: center;
    gap: 8px;
}
.banner-envio {
    background-color: #B89B7A;
    color: white;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
main {
    padding: 30px;
}

section {
    text-align: center;
    padding: 40px;
}
.producto {
    padding: 50px;
    text-align: center;
    background-color: #fffaf4;
}
.contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.card-producto{
    background-color: #ffff;
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.card-producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card-producto button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color:#b58b63 ;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.card-producto button:hover {
    background-color:#b58b63;
}
.hero {
    background-image: linear-gradient(
        rgba(250, 247, 242, 0.70),
        rgba(250, 247, 242, 0.70)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 750px;
    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-align: center;
}


.hero-texto h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-texto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-texto button {
    padding: 14px 30px;
    background-color: #b58b63;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(
        rgba(245, 237, 227, 0.65),
        rgba(245, 237, 227, 0.65)
    ),
    url("img/portada-original.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 60px;
}
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
    }
.detalle-box {
    grid-template-columns: 1fr;
}

.detalle-imagen img {
    height: 350px;
}

    .hero-texto h2 {
        font-size: 32px;
    }

    .contenedor-productos {
        flex-direction: column;
        align-items: center;
    }
}
.accesorios-grid {
    grid-template-columns: 1fr;
}

.footer {
    background-color: #E8DCCB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 35px;
    margin-top: 40px;
    text-align: center;
}

.footer h3 {
    margin-bottom: 10px;
    color: #333;
}

.footer p {
    margin-bottom: 5px;
    color: #555;
}
.footer {
    flex-direction: column;
}
.categorias {
    background-color: #F5EDE3;
    padding: 60px;
    text-align: center;
}

.grid-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}
.categoria-card {
    background-color: #E8DCCB;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-producto:hover,
.categoria-card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
button:hover {
    background-color: #8f6b4c;
    transform: scale(1.05);
    transition: 0.3s;
}
nav a:hover {
    color:#B89B7A ;
}
nav a i {
    margin-right: 8px;
}

.buscador {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

.buscador input {
    width: 350px;
    padding: 12px;
    border: 2px solid #b58b63;
    border-radius: 25px;
    outline: none;
}

.buscador button {
    background-color: #b58b63;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
}
.precio {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #b58b63;
    margin-top: 10px;
}
.card-producto {
    position: relative;
}
.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #b58b63;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}
.banner-descuento {
    background-color: #b58b63;
    color: white;
    text-align: center;
    padding: 40px;
}

.banner-descuento h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner-descuento button {
    margin-top: 15px;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #b58b63;
    font-weight: bold;
    cursor: pointer;
}
.newsletter {
    background-color: #efe1d0;
    text-align: center;
    padding: 50px 20px;
}

.newsletter h2 {
    margin-bottom: 10px;
}

.newsletter p {
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter input {
    width: 300px;
    padding: 12px;
    border: 2px solid #f48fb1;
    border-radius: 25px;
}

.newsletter button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color:#b58b63;
    color: white;
    cursor: pointer;
}

.login-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: white;
    padding: 50px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.login-icon {
    font-size: 55px;
    color: #B89B7A;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 25px;
    color: #5C4632;
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 14px;
    border: 2px solid #E8DCCB;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
}

.login-box button {
    background-color: #B89B7A;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #9E8060;
    transition: 0.3s;
}

.login-box p {
    margin-top: 15px;
}

.login-box a {
    color: #8B6F57;
    text-decoration: none;
}
.pedidos-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.pedidos-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.pedidos-box {
    background-color: white;
    width: 650px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.pedido-card {
    background-color: #F5EDE3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 18px;
    text-align: left;
}
.pedido-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #8B6F57;
}

.volver-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 25px;
    background-color: #B89B7A;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
.volver-btn:hover {
    background-color: #9E8060;
    transition: 0.3s;
}
.sin-pedidos {
    background-color: #F5EDE3;
    padding: 40px;
    margin-top: 25px;
    border-radius: 18px;
    text-align: center;
}

.sin-pedidos i {
    font-size: 45px;
    color: #8B6F57;
    margin-bottom: 15px;
}

.carrito-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada-original.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.carrito-box {
    background-color: white;
    width: 650px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.carrito-vacio {
    background-color: #F5EDE3;
    padding: 40px;
    margin-top: 25px;
    border-radius: 18px;
    text-align: center;
}
.carrito-vacio i {
    font-size: 50px;
    color: #8B6F57;
    margin-bottom: 15px;
}

.registro-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.registro-box {
    background-color: white;
    width: 450px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.registro-icon {
    font-size: 50px;
    color: #B89B7A;
    margin-bottom: 20px;
}
.registro-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.registro-box input {
    padding: 14px;
    border: 2px solid #E8DCCB;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
}
.registro-box button {
    background-color: #B89B7A;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.registro-box button:hover {
    background-color: #9E8060;
    transition: 0.3s;
}
.registro-link {
    margin-top: 20px;
}

.registro-link a {
    color: #8B6F57;
    text-decoration: none;
    font-weight: bold;
}

.contacto-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.contacto-box {
    background-color: white;
    width: 550px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.contacto-info {
    background-color: #F5EDE3;
    padding: 20px;
    border-radius: 18px;
    margin: 25px 0;
    text-align: left;
}
.contacto-info i {
    color: #8B6F57;
    margin-right: 10px;
}
.contacto-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contacto-box textarea {
    min-height: 120px;
    resize: none;
}
.contacto-box button {
    background-color: #B89B7A;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.contacto-box button:hover {
    background-color: #9E8060;
    transition: 0.3s;
}

.ofertas-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada-original.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.ofertas-box {
    background-color: white;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.ofertas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}
.oferta-card {
    background-color: #F5EDE3;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.oferta-card img {
    width: 20%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}
.oferta-card del {
    color: #999;
}
.oferta-card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
.ofertas-grid {
    grid-template-columns: 1fr;
}
.oferta-card button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #B89B7A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.oferta-card button:hover {
    background-color: #9E8060;
    transition: 0.3s;
    transform: scale(1.03);
}
.niños-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada-original.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.ninos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}
.nino-card {
    background-color: #F5EDE3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.nino-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}
.nino-card button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #B89B7A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}
.niño-card button:hover {
    background-color: #9E8060;
    transition: 0.3s;
    transform: scale(1.03);
}
.niño-card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
.niños-grid {
    grid-template-columns: 1fr;
}

#contador-carrito {
    background-color: #8B6F57;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
    margin-left: 5px;
}

.detalle-container {
    min-height: 100vh;
    background-color: #FAF7F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.detalle-box {
    background-color: white;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.detalle-imagen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.detalle-info {
    text-align: left;
}

.detalle-info h1 {
    color: #5C4632;
    margin-bottom: 15px;
}

.detalle-precio {
    font-size: 28px;
    font-weight: bold;
    color: #8B6F57;
    margin-bottom: 20px;
}

.detalle-descripcion {
    margin-bottom: 25px;
    line-height: 1.6;
}

.colores {
    display: flex;
    gap: 12px;
    margin: 15px 0 25px;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: inline-block;
}

.beige {
    background-color: #E8DCCB;
}

.marron {
    background-color: #8B6F57;
}

.blanco {
    background-color: #ffffff;
}

.talles {
    display: flex;
    gap: 10px;
    margin: 15px 0 25px;
}

.talles button {
    width: 45px;
    height: 45px;
    border: 2px solid #E8DCCB;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.talles button:hover {
    background-color: #E8DCCB;
}

.btn-agregar {
    width: 100%;
    padding: 15px;
    background-color: #B89B7A;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-producto {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #B89B7A;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-producto:hover {
    background-color: #9E8060;
    transform: scale(1.03);
}


.bordo {
    background-color: #7A2E3A;
}

.negro {
    background-color: #000000;
}

.btn-oferta {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 35px;
    background-color: white;
    color: #B89B7A;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.niñas-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.ninas-box {
    background-color: white;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}
.ninas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.nina-card {
    background-color: #F5EDE3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.nina-card img {
    width: 25%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}
.nina-card button {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #B89B7A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}
.ninas-card button:hover {
    background-color: #9E8060;
    transition: 0.3s;
    transform: scale(1.03);
}
.ninas-card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
.ninas-grid {
    grid-template-columns: 1fr;
}

.categoria-link {
    text-decoration: none;
    color: inherit;
}

.accesorios-container {
    min-height: 100vh;

    background-image: linear-gradient(
        rgba(250, 247, 242, 0.75),
        rgba(250, 247, 242, 0.75)
    ),
    url("img/portada.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.accesorios-box {
    background-color: white;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.accesorios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.accesorio-card {
    background-color: #F5EDE3;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.accesorio-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.accesorio-card button {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #B89B7A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}

.accesorio-card button:hover {
    background-color: #9E8060;
    transition: 0.3s;
    transform: scale(1.03);
}

.accesorio-card:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}
.btn-comprar {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 35px;
    background-color: #B89B7A;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-comprar:hover {
    background-color: #9E8060;
    transform: scale(1.05);
}
.banner-envio,
.banner-envio p,
header,
header h1,
header p {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}